<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CascadeDBEntities" connectionString="metadata=res://*/Models.CascadeEDM.csdl|res://*/Models.CascadeEDM.ssdl|res://*/Models.CascadeEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=CascadeDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>