<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CascadeDBEntities" connectionString="metadata=res://*/Models.CascadeEDM.csdl|res://*/Models.CascadeEDM.ssdl|res://*/Models.CascadeEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=CascadeDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>