<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
	<log4net>	
		
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<threshold value="ON"/>
			<file value="c:\Cascade\Logs\ApplicationErrorLog.txt"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="100MB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level|%date|%message%newline"/>
			</layout>
		</appender>
		
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>