<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramewok" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="cascadeCutomGroup">
      <section name="cascadeMenu" type="Cascade.Web.ApplicationIntegration.MenuHandler, Cascade.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=CascadeDB" providerName="System.Data.SqlClient" />
    <add name="CascadeDBEntities" connectionString="metadata=res://*/Models.CascadeEDM.csdl|res://*/Models.CascadeEDM.ssdl|res://*/Models.CascadeEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CascadeDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <cascadeCutomGroup>
    <cascadeMenu>
      <menu Id="1" Action="Index" Controller="Home" Roles="user,agency" IsVisible="false" IsActive="true" ParentId="0" SortOrder="1" Text="Recourse" Area="Recourse" />
      <menu Id="2" Action="Index" Controller="Home" Roles="user,agency" IsVisible="false" IsActive="true" ParentId="0" SortOrder="2" Text="Collections" Area="Collections" />
      <menu Id="3" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="0" SortOrder="3" Text="Investor Mgt" Area="InvestorManagement" />
      <menu Id="4" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="0" SortOrder="4" Text="Analytics &amp; Simulation" Area="AnalyticsSimulation" />
      <menu Id="5" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="0" SortOrder="5" Text="Asset Sales" Area="AssetSales" />
      <menu Id="6" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="false" ParentId="0" SortOrder="6" Text="Acquisitions" Area="Acquisitions" />
      <menu Id="7" Action="Index" Controller="ModuleDetails" Roles="user" IsVisible="false" IsActive="true" ParentId="6" SortOrder="1" Text="Module Details" Area="Acquisitions" />
      <menu Id="8" Action="Index" Controller="DataEntry" Roles="user" IsVisible="false" IsActive="true" ParentId="6" SortOrder="2" Text="Data Entry" Area="Acquisitions" />
      <menu Id="9" Action="Index" Controller="DPS" Roles="user" IsVisible="false" IsActive="true" ParentId="1" SortOrder="1" Text="DPS-Add Form" Area="Recourse" />
      <menu Id="10" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="0" SortOrder="7" Text="Portfolio" Area="Portfolio" />
      <menu Id="11" Action="Index" Controller="AddForm" Roles="user" IsVisible="false" IsActive="true" ParentId="10" SortOrder="1" Text="Add" Area="Portfolio" />
      <menu Id="12" Action="ViewDPS" Controller="DPS" Roles="user" IsVisible="false" IsActive="true" ParentId="1" SortOrder="2" Text="DPS-View/Edit" Area="Recourse" />
      <menu Id="13" Action="Index" Controller="Media" Roles="user" IsVisible="false" IsActive="true" ParentId="1" SortOrder="3" Text="Media-Add Form" Area="Recourse" />
      <menu Id="14" Action="ViewMedia" Controller="Media" Roles="user" IsVisible="false" IsActive="true" ParentId="1" SortOrder="4" Text="Media-View/Edit" Area="Recourse" />
      <menu Id="15" Action="Index" Controller="Recall" Roles="user" IsVisible="false" IsActive="true" ParentId="1" SortOrder="5" Text="Recall-Add Form" Area="Recourse" />
      <menu Id="16" Action="ViewRecall" Controller="Recall" Roles="user" IsVisible="false" IsActive="true" ParentId="1" SortOrder="6" Text="Recall-View/Edit" Area="Recourse" />
      <menu Id="17" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="false" ParentId="0" SortOrder="8" Text="People" Area="People" />
      <menu Id="18" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="false" ParentId="0" SortOrder="9" Text="Money" Area="Money" />
      <menu Id="19" Action="Add" Controller="Home" Roles="user" IsVisible="false" IsActive="false" ParentId="17" SortOrder="1" Text="Add Record" Area="People" />
      <menu Id="20" Action="Add" Controller="Home" Roles="user" IsVisible="false" IsActive="false" ParentId="18" SortOrder="1" Text="Add Record" Area="Money" />
      <menu Id="21" Action="Index" Controller="ViewEdit" Roles="user" IsVisible="false" IsActive="true" ParentId="10" SortOrder="2" Text="View-Edit" Area="Portfolio" />
      <menu Id="22" Action="Index" Controller="Home" Roles="user,agency" IsVisible="false" IsActive="true" ParentId="0" SortOrder="7" Text="Compliance" Area="Compliance" />
      <menu Id="23" Action="Index" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="22" SortOrder="1" Text="CFPB Complaints" Area="Compliance" />
      <menu Id="24" Action="Create" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="1" Text="Add New Customer Complaint" Area="Compliance" />
      <menu Id="25" Action="ReportNCRA" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="2" Text="New Complaint Requiring Action" Area="Compliance" />
      <menu Id="26" Action="ReportNCP" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="3" Text="New Complaint In Progress" Area="Compliance" />
      <menu Id="27" Action="ReportAAI" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="4" Text="Awaiting Additional Information" Area="Compliance" />
      <menu Id="28" Action="ReportSOA" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="5" Text="Submitted for Owner Action" Area="Compliance" />
      <menu Id="29" Action="ReportORP" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="6" Text="Owner Response In Progress" Area="Compliance" />
      <menu Id="30" Action="Index" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="7" Text="Response Submitted to Consumer" Area="Compliance" />
      <menu Id="31" Action="ReportRC" Controller="Home" Roles="agency" IsVisible="false" IsActive="true" ParentId="23" SortOrder="8" Text="Resolved Complaints" Area="Compliance" />
      <menu Id="24" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="22" SortOrder="1" Text="CFPB Debt Buyer Processing" Area="Compliance" />
      <menu Id="25" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="22" SortOrder="2" Text="BankruptcyProcessing" Area="Compliance" />
      <menu Id="26" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="22" SortOrder="3" Text="Cascade Process Exceptions" Area="Compliance" />
      <menu Id="27" Action="Create" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="1" Text="Create Complaint for Agency Action" Area="Compliance" />
      <menu Id="28" Action="ReportNCRA" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="2" Text="New Complaint Requiring Action" Area="Compliance" />
      <menu Id="29" Action="ReportNCP" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="3" Text="New Complaint In Progress" Area="Compliance" />
      <menu Id="30" Action="ReportAAI" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="4" Text="Awaiting Additional Information" Area="Compliance" />
      <menu Id="31" Action="Index" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="7" Text="Submitted for Agency Closure" Area="Compliance" />
      <menu Id="32" Action="ReportRC" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="8" Text="Resolved Complaints" Area="Compliance" />
      <menu Id="33" Action="ReportSOA" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="5" Text="Submitted for Owner Action" Area="Compliance" />
      <menu Id="34" Action="ReportORP" Controller="Home" Roles="user" IsVisible="false" IsActive="true" ParentId="24" SortOrder="6" Text="Owner Response In Progress" Area="Compliance" />
      <menu Id="35" Action="Create" Controller="Media" Roles="agency" IsVisible="false" IsActive="true" ParentId="1" SortOrder="1" Text="Request - By Individual Account" Area="Recourse" />
      <menu Id="35" Action="MediaRequestNotFulfilled" Controller="Media" Roles="agency" IsVisible="false" IsActive="true" ParentId="1" SortOrder="2" Text="Media Request Not Yet Fulfilled" Area="Recourse" />
    </cascadeMenu>
  </cascadeCutomGroup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="colorCodes" value="CC6600#9900CC#FF3300#0099FF#00CC66#FFFF00#CC6600#9900CC#800000#A52A2A#DC143c#FF6347#CD5C5C#F08080#FFA500#FFD700#B8860B#9ACD32#556B2F#00FF00#32CD32#90EE90#00FA9A#2E8B57#40E0D0#6495ED#1E90FF#191970#00008B#8A2BE2#8B008B#BA55D3#FF00FF#DA70D6#FF1493#F5F5DC#F5DEB3#8B4513#D2691E#D2B48C#708090#F5DEB3#BC8F8F#696969#808000#800080#008080#000080#FF0000#000000#FFFFFF" />
    <add key="defaultAgencyId" value="AACC" />
    <add key="uploadDocumentsDirectory" value="C:\Cascade\UploadedFiles"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" applicationName="CascadeWeb" />
      </providers>
    </membership>
    <profile enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="CascadeWeb" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="CascadeWeb" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="CascadeWeb" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>