@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@model Cascade.Web.Models.PagedViewModel<Cascade.Data.Models.SearchResult>

@{
    ViewBag.Title = "Basic";
}

<h2>Search Rsults:</h2>

@Html.Grid(Model.PagedList).Columns(column =>{
    column.For(record => record.ACCOUNT).Named("Account#");
    column.For(record => record.Name);
    column.For(record => record.Originator);
    column.For(record => record.Seller);
    column.For(record => record.ProductDescription).Named("Product");
    column.For(record => record.StatusDescription).Named("Status");
    column.For(record => record.WorkStatusDescription).Named("Work Status");
}).Sort(Model.GridSortOptions).Attributes(@class => "grid-style")

@Html.Pager(Model.PagedList).First("First").Last("Last").Next("Next").Previous("Previous")