
<div class='page-title' style="font-size:large; font-weight:bold">&nbsp;Recall Reports</div>

<div style="height:20px"></div>

<div style="margin:5px">@Html.ActionLink("Recalls Receivable", "../../Report.aspx", new { rpt = "RecallsRecievable" }, new { target = "_blank", @style = "color:white; font-size:medium" })</div>
<div style="height:4px"></div>
<div style="margin:5px">@Html.ActionLink("Recall Receivables Open", "../../Report.aspx", new { rpt = "RecallReceivablesOpen" }, new { target = "_blank", @style = "color:white; font-size:medium" })</div>
<div style="height:4px"></div>
