
<div class='page-title' style="font-size:large; font-weight:bold">&nbsp;DPS Reports</div>

<div style="height:20px"></div>

<div style="margin:5px">@Html.ActionLink("DPS Payable", "../../Report.aspx", new { rpt = "DPSPayable" }, new { target = "_blank", @style = "color:white; font-size:medium" })</div>
<div style="height:4px"></div>
<div style="margin:5px">@Html.ActionLink("DPS Payable Summary", "../../Report.aspx", new { rpt = "DPSPayableSummary" }, new { target = "_blank", @style = "color:white; font-size:medium" })</div>
<div style="height:4px"></div>


