


<div class='page-title' style="font-size:large; font-weight:bold">&nbsp;Media Reports</div>

<div style="height:20px"></div>

<div style="margin:5px">@Html.ActionLink("Media Receivable Summary", "../../Report.aspx", new { rpt = "MediaReceivableSummary" }, new { target = "_blank", @style = "color:white; font-size:medium" })</div>
<div style="height:4px"></div>
<div style="margin:5px">@Html.ActionLink("Media No Date Received", "../../Report.aspx", new { rpt = "MediaNoDateReceived" }, new { target = "_blank", @style = "color:white; font-size:medium" })</div>
<div style="height:4px"></div>

