
<!DOCTYPE html>
<html>
    <head>
        <title>View Company</title>
        <link href="@Url.Content("~/Content/dataTables/demo_table.css")" rel="stylesheet" type="text/css" />
        
    </head>

    <body>
        <div id="container">
            <div id="demo">
                <h2>View Companies</h2>
                <table id="myCompanyTable" class="display">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Company Name</th>
                            <th>POC Last Name</th>
                            <th>POC First Name</th>
                            <th>City</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                </table>

                </div>
        </div>
    </body>
</html>