@model IList<Cascade.Data.Models.PeopleViewEditResult>
@using Cascade.Web.Presentation.ExtensionMethods

<h2>People Records:</h2>

<style type="text/css">
    body {font-family: Arial;}
    .heading { font-weight:bold}
    .specialtd { mso-number-format:"0"; }
</style>

<div id="divPeopleRecords">
    <table id="peopleRecordsExport" border="1">
        <thead>
            <tr class="heading"> 
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                
            </tr> 
        </thead> 
        <tbody> 
            @foreach (var pplRecord in Model)
            {
                <tr>
                    <td>@pplRecord.FName</td>
                    <td>@pplRecord.LName</td>
                    <td>@pplRecord.Address</td>
                </tr> 
            }
        </tbody>
     </table>
</div>
