@{
    ViewBag.Title = "View People Records";
}

@Scripts.Render("~/bundles/jquery")

<h2>View People Records</h2>

<div id="divReportCriteria">

    <table class="originaltable">
        
        <tr class="dummyitem">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>First Name #:
            </td>
            <td>
                <input type="text" id="FirstName" data-bind="value:FirstName" />
            </td>
        </tr>
        <tr>
            <td>Last Name #:
            </td>
            <td>
                <input type="text" id="LastName" data-bind="value:LastName" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="confirmBtnContainer">
                <input type="button" id="refreshBtn" title="Run Report" data-bind="click:runReport"/>
                <span data-bind="text:atLeastOneOption, visible:atLeastOneOptionHasError" style="color: Red"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="resultSummary" style="color: Red">
                    <ul>
                    </ul>
                </div>
            </td>
        </tr>
        </table>
   </div>

<div class="dummyitem"></div>

@*This is used to store People Results*@
<div id="divPeopleResults"></div> 

@Scripts.Render("~/bundles/knockout")

@section scripts{
    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script type="text/javascript">


        //Client side View Model
        function reportCriteriaVM() {

            var href = window.location.href.split('/');
            var baseUrl = href[0] + '//' + href[2] + '/' + href[3];
            
            var self = this;
            //For Search Fields
            self.FirstName = ko.observable('');
            self.LastName = ko.observable('');
            //For validation Messages
            self.atLeastOneOption = ko.observable('');
            self.atLeastOneOptionHasError = ko.observable(false);
            self.validationErrors = ko.observableArray([]);
                        
            //run the search process
            self.runReport = function () {
                self.validationErrors([]);
                
                $('#resultSummary ul').empty();
                
                //Validation for atleast one options is selected
                if (self.FirstName() == '' && self.LastName() == '')
                {
                    self.atLeastOneOption('At least one criteria is required.');
                    self.validationErrors.push(self.atLeastOneOption());
                }
                //Go ahaead
                if (self.validationErrors() == '') {
                    //alert(baseUrl);
                    //Get the data and Load in the div
                    $("#divPeopleResults").load(baseUrl + '/Home/GetAllPeopleRecords?FirstName=' + self.FirstName() + '&LastName=' + self.LastName());
                    
                }
                else {
                    $.each(self.validationErrors(), function (i, item) {
                        log(item);
                        $('#resultSummary ul').append('<li>' + item + '</li>');
                    });
                }
            };
        };

        $(document).ready(function () {
            //Knockout Bindings
            ko.applyBindings(new reportCriteriaVM(), $('#divReportCriteria')[0]);
                        
        });

    </script>
}