@{
    ViewBag.Title = "View Edit Money";
}

@Scripts.Render("~/bundles/jquery")

<h2>View/Edit Money:</h2>
 
    <div id="divViewEditMoney">
                
        <table class="originaltable">
        <tr class="dummyitem">
            <td colspan="2"></td>
        </tr>
        <tr>
           <td>Amount:
            </td>
            <td>
                <input id="Amount" type="text" data-bind="value:Amount" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;"/>
                <span data-bind="text:AmountRequired, visible:AmountRequiredHasError" style="color: Red"></span>
            </td>
        </tr>
        <tr>
            <td>Person:
            </td>
            <td>
                <select id="PeopleList" class="ddlwidth" data-bind="options:peoples,optionsValue:'Value', optionsText: 'Text',optionsCaption: 'Select Person..', value: people"></select>
                <span data-bind="text:PeopleRequired, visible:PeopleRequiredHasError" style="color: Red"></span>
            </td>
        </tr>
        <tr>
            <td>Source:
            </td>
            <td>
                <select id="SourceList" class="ddlwidth" data-bind="options:sources,optionsValue:'Value', optionsText: 'Text',optionsCaption: 'Select Source..', value: source"></select>
                <span data-bind="text:SourceRequired, visible:SourceRequiredHasError" style="color: Red"></span>
            </td>
        </tr>
            <tr>
            <td colspan="2" class="confirmBtnContainer">
                <input type="button" id="saveEditBtn" title="Save" data-bind="click:save"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="resultSummary" style="color: Red">
                    <ul>
                    </ul>
                </div>
            </td>
        </tr>
         @*Hidden filed for the Record Id*@
        <tr><td>@Html.Hidden("Id",(string)(@ViewBag.Id))</td></tr>
    </table>
        
        <table class="dummyitem"></table>
       
    </div>

@Scripts.Render("~/bundles/knockout")

@section scripts{
    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script type="text/javascript">

        //Client side View Model
        function MoneyViewEditVM() {

            var href = window.location.href.split('/');
            var baseUrl = href[0] + '//' + href[2] + '/' + href[3];

            var apiUrl = '/api/Lookup/';
            
            var self = this;
            //Form
            self.Amount = ko.observable('');
            self.source = ko.observable('');
            self.sources = ko.observableArray([]);
            self.people = ko.observable('');
            self.peoples = ko.observableArray([]);

            //For validation Messages
            self.AmountRequired = ko.observable('');
            self.AmountRequiredHasError = ko.observable(false);

            self.PeopleRequired = ko.observable('');
            self.PeopleRequiredHasError = ko.observable(false);

            self.SourceRequired = ko.observable('');
            self.SourceRequiredHasError = ko.observable(false);

            self.validationErrors = ko.observableArray([]);

            //For Money Source
            $.ajax({
                url: apiUrl,
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'MoneySource' },
                success: function (data) {
                    $.each(data, function (i, item) {
                        self.sources.push(item);
                    });
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });

            //For People Source
            $.ajax({
                url: apiUrl,
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'People' },
                success: function (data) {
                    $.each(data, function (i, item) {
                        self.peoples.push(item);
                    });
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            
            
            //For Page Data
            $.ajax({
                url: baseUrl + '/Home/GetMoneyData/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: $('#Id').val() },
                dataType: 'json',
                success: function (data) {
                    //Set Selected options                     
                    self.Amount(data.Amount);
                    self.people(data.PID);
                    self.source(data.SID);
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });



            //Button Click Save
            self.save = function () {
                
                self.validationErrors([]);

                $('#resultSummary ul').empty();

                //First Name
                if (self.Amount() == '') {
                    self.AmountRequired('Amount is required.');
                    self.validationErrors.push(self.AmountRequired());
                }

                //Source
                if (self.source() == undefined) {
                    self.SourceRequired('Money source is required.');
                    self.validationErrors.push(self.SourceRequired());
                }

                //People
                if (self.people() == undefined) {
                    self.PeopleRequired('Person is required.');
                    self.validationErrors.push(self.PeopleRequired());
                }

                //Go ahaead if there are no Errors
                if (self.validationErrors() == '') {
                    
                    var json = JSON.stringify({
                        MID: $('#Id').val(),
                        PID: self.people(),
                        SID: self.source(),
                        Amount: self.Amount()
                        
                    });

                    $.ajax({
                        url: baseUrl + "/Home/Add/",
                        type: "POST",
                        data: json,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            //log(response.ID);
                            //alert("success");
                            $('#resultSummary ul').append('<li>Money Record updated successfully.</li>');
                            $('#saveEditBtn').hide();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                            console.log(textStatus, errorThrown);
                            $('#resultSummary ul').append('<li>We have some issue processing your request. Please try again later.</li>');
                        }
                    });

                }
                else {
                    $.each(self.validationErrors(), function (i, item) {
                        log(item);
                        $('#resultSummary ul').append('<li>' + item + '</li>');
                    });
                }
                   
                               
            };

        };

        $(document).ready(function () {
            //Knockout Bindings
            ko.applyBindings(new MoneyViewEditVM(), $('#divViewEditMoney')[0]);
                        
        });

     </script>
}
